@using WebSportOnline.Models;
@model List<MenuItem>

<!-- Menu Mobile -->
<div class="wrap-side-menu">
    <nav class="side-menu">
        <ul class="main-menu">
            <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                <span class="topbar-child1">
                    Free shipping for standard order over $100
                </span>
            </li>

            @*<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                <div class="topbar-child2-mobile">
                    <span class="topbar-email">
                        fashe@example.com
                    </span>

                    <div class="topbar-language rs1-select2">
                        <select class="selection-1" name="time">
                            <option>USD</option>
                            <option>EUR</option>
                        </select>
                    </div>
                </div>
            </li>*@

            <li class="item-topbar-mobile p-l-10">
                <div class="topbar-social-mobile">
                    <a href="#" class="topbar-social-item fa fa-facebook"></a>
                    <a href="#" class="topbar-social-item fa fa-instagram"></a>
                    <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                    <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                    <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                </div>
            </li>

            <li class="item-menu-mobile">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            @foreach (var item in Model)
            {
                <li class="item-menu-mobile">
                    <a href="@Url.Action("AdvancedSearchView", "Search", new { loai = item.LoaiSP.MaLoai })">@item.LoaiSP.TenLoai</a>
                    <ul class="sub-menu">
                        @foreach (var i in item.HangSX)
                        {
                            <li><a href="@Url.Action("AdvancedSearchView", "Search", new { loai = item.LoaiSP.MaLoai, hangsx = i.HangSX })">@i.TenHang</a></li>
                        }
                    </ul>
                    <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                </li>
            }
            <li class="item-menu-mobile">
                <a href="@Url.Action("Index","TinTuc")">Tin Tức</a>
            </li>

            <li class="item-menu-mobile">
                <a href="@Url.Action("About","Home")">Thông Tin</a>
            </li>

            <li class="item-menu-mobile">
                <a href="@Url.Action("Contact","Home")">Liên Hệ</a>
            </li>
        </ul>
    </nav>
</div>
